.container {
  background-color: var(--bgSoft);
  padding: 20px 10px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  width: 100%;
}

.container:hover{
  background-color: #2e374a;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.issues{
  text-align: left;
  line-height: 3;
  font-weight: 700;
}
.issueInfo {
  text-align: left;
  line-height: 3;
  font-weight: 400;
}

.number {
  font-size: 24px;
  font-weight: 500;
}

.detail {
  font-size: 14px;
  font-weight: 300;
}

.positive {
  color: lime;
}

.negative {
  color: red;
}
