.container {
  background-color: var(--bg);
  display: flex;
  gap: 20px;
  width: 100%;
}

.table_margin_top {
  border: 1px solid var(--bgSoft);
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.issues{
  text-align: left;
  line-height: 3;
  font-weight: 700;
}
.issueInfo {
  text-align: left;
  line-height: 3;
  font-weight: 400;
}

.number {
  font-size: 24px;
  font-weight: 500;
}

.detail {
  font-size: 14px;
  font-weight: 300;
}

.positive {
  color: lime;
}

.negative {
  color: red;
}

.issueType {
  margin-right: 5px;
  position: relative;
  top: 5px;
}