.container {
  background-color: var(--bg);
  display: flex;
  gap: 20px;
  width: 100%;
}

.container .table_margin_top {
  border: 1px solid #180110;
  border-radius: 12px;
  box-shadow: none;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.title:hover {
  color: var(--colorLotus);
  cursor: pointer;
  text-decoration: underline;
}

.container .issues {
  color: var(--text);
  background: #fdf2f8;
  font-family: var(--fontFamily);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  padding: 20px;
}

.issueInfo {
  color: var(--text);
  font-family: var(--fontFamily);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  padding: 20px;
}

.number {
  font-size: 24px;
  font-weight: 500;
}

.detail {
  font-size: 14px;
  font-weight: 300;
}

.positive {
  color: lime;
}

.negative {
  color: red;
}

.issueType {
  margin-right: 8px;
  position: relative;
  top: 5px;
}
