.row_incorrect_time_limit {
  background-color: #e79696;
}

.container .table_margin_top {
  border: 1px solid #180110;
  border-radius: 12px;
  box-shadow: none;
}

.container .table_margin_top .issues {
  color: var(--text);
  background: #fdf2f8;
  font-family: var(--fontFamily);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  padding: 20px;
}

.container .table_margin_top .issueInfo {
  color: var(--text);
  font-family: var(--fontFamily);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  padding: 16px 20px;
}

.cardContainer,
.cardContainerMiddle {
  background-color: white;
  padding: 20px;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid var(--text);
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  color: var(--colorLotus);
  font-family: var(--fontFamily);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cardContainerMiddle {
  margin: 0 20px;
}

.cardContainer .title_total,
.cardContainerMiddle .title_total {
  color: var(--text);
  font-family: var(--fontFamily);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
}
