.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px;
  z-index: 1000;
  border-radius: 8px;
  padding: 32px;
}

.modalTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 16px;
}

.modalTable {
  width: 600px;
  height: 270px;
}

.modalSubTitle {
  width: 100px;
  text-align: left;
}

.modalSubContents {
  text-align: left;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 10px;
}

.closeButton:hover {
  cursor: pointer;
}

.calEvents {
  background-color: var(--colorLotus);
  border: 1px solid var(--colorLotus);
  border-radius: 3px;
  min-height: 30px;
  color: #fff;
}

.calEvents:hover {
  background-color: var(--colorLotus);
  opacity: 0.8;
  cursor: pointer;
}

.fcContent {
  white-space: nowrap;
}

.eventTitle,
.eventTime {
  font-size: 13px;
  margin-left: 0;
  padding: 6px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* tooltip css */
.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
}

.tooltip:hover {
  cursor: pointer;
}

/* make our tooltip show up on hover */
.tooltip:hover .tooltip_container {
  width: 300px;
  display: block;
  /* this is used to place the tooltip bubble above the button, edit to value that fits you*/
  /* also you can change top to bottom, right or left for different tooltip location */
  position: absolute;
  top: -77px;
  right: -5px;

}

/* make the tooltip hidden */
.tooltip_container {
  display: none;
}

/* top part of tooltip container */
.tooltip_text {
  background: var(--colorLotus);
  vertical-align: middle;
  height: 60px;
  border-radius: 3px;
  padding: 7px;
}

.tooltip_text p {
  text-align: center;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* the botton part of the tooltip container */
.tooltip_text_bottom {
  width: 0;
  height: 0;
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-top: 0.9em solid var(--colorLotus);
  position: absolute;
  right: 0;
}

/* end of tooltip css */