.container {
  position: sticky;
  top: 40px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.userImage {
  border-radius: 50%;
  width: 77px;
  height: 77px;
  object-fit: cover;
}

.userDetail {
  display: flex;
  flex-direction: column;
}

.username {
  color: var(--textSoft);
  font-family: var(--fontFamily);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-bottom: 16px;
}

.userTitle {
  color: rgba(255, 255, 255, 0.4);
  font-family: var(--fontFamily);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 50px 78px;
}

.list {
  list-style: none;
}

.cat {
  display: block;
  color: var(--textSoft);
  font-family: var(--fontFamily);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 20px;
  width: 100%;
}
.logo {
  width: 100%;
  display: flex;
}
.logo img {
  width: 80px;
  height: 29.091px;
  margin: 15px auto 31px;
}

.logout {
  cursor: pointer;
  background: none;
  border: none;
  width: 100%;
  padding: 16px 40px;
  display: flex;
  align-items: center;
  margin: 16px 0px;
  border-radius: 0px;
  color: var(--textSoft);
  font-family: var(--fontFamily);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border-left: 6px solid transparent;
}

.logout svg {
  margin-right: 24px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.logout:hover {
  background-color: var(--bgHover);
}
